#main-board {
    background-color: yellow;
    height : 100vh; 
    position:relative;
    margin:  3px solid yellow;
    background-image: url("../ressources/space-background.jpeg");

}

h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: Helvetica;
    color: yellow;
    text-align: center;
    padding : 30px;
}

p {
    font-size: 25px;
    font-weight: 700;
    font-family: Helvetica;
    color: yellow;
    text-align: left;
    padding : 20px;
    

}

.cat { 
    
    background-color: white;
    width: 5%;
    height: 10%;
    position :absolute;
   
    
     
    
} 

.fish {
    background-color: blue;
    width: 5%;
    height: 10%;
    position :absolute;
}

.asteroid {
    background: black;
    width: 7%;
    height: 10%;
    position :absolute;
    

}

 